.calculator {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.display {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 32px;
  border: 1px solid #ccc;
  height: 40px;
}

.keypad button {
  width: 25%;
  padding: 20px;
  font-size: 16px;
  margin: 5px;
  border: 1px solid #ddd;
}

.header{
  margin-top: 2%;
  margin-left: 1%;
  
  /* margin-right: 2000PX; */
}
.button-style {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-style:hover {
  background-color: #0056b3;
}

